.admin-dashboard-content {
    padding: 30px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-dashboard-section {
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.admin-dashboard-section h2 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.admin-dashboard-link {
    display: inline-block;
    padding: 10px;
    background-color: #e3070e;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    width: 270px;
    white-space: nowrap;
}

.admin-dashboard-link:hover {
    background-color: #e3070e;
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .admin-dashboard-content {
        padding: 0px;
    }

    .admin-dashboard-section {
        background-color: white;
        padding: 25px;
        margin-bottom: 0px;
        border-radius: 0px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .admin-dashboard-section h2 {
        font-size: 20px;
    }

    .admin-dashboard-link {
        width: 100%;
        text-align: center;
    }
}