/* ------------шапка сайта---------- */
#video-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.header-content {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

header .logo-header {
    width: 90px;
    height: auto;
}

.header-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
}

.header-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.header-icons {
    display: flex;
    margin-top: 5px;
    align-items: center;
    gap: 5px;
}

.header-icons_1 {
    margin-left: 10px;
}



.mobile_btn,
.logo-mobile,
.mobile-profile,
.mobile-header-contact {
    display: none;
}

/* -----------шапка сайта---------- */

.button-style {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #F00;
    border: none;
    color: #FFF;
    font-family: Roboto;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 36vw;
    height: 5vw;
    border-radius: 5px;
}

@media(max-width: 768px){
    .button-style {
        width: 40vw;
        height: 12vw;
        font-size: 3.5vw;
    }

    header .logo-header {
        width: 60%;
        height: auto;
    }
}

@media(min-width:768px) and (max-width:1200px){
    .button-style {
        width: 200px;
        height: 50px;
        font-size: 14px;
    }
}


@media(min-width:320px) and (max-width:1200px) {

    #video-container {
        height: 40vh;
    }

    .background-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .overlay {
        background: rgba(0, 0, 0, 0.7);
    }

    .overlay,
    .background-video {
        width: 100%;
        height: 100%;
    }

    

    .position-mobile-logo-and-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
    }


    .mobile_btn,
    .logo-mobile,
    .mobile-profile {
        display: block;
        position: relative;
        top: 20px;
        z-index: 10;
    }

    svg.social {
        width: 7vw;
        height: 7vw;
    }

    .profile-menu-number {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .menu-profile-flex {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 20px;
    }

    .mobile-header-contact {
        display: flex;
        color: white;
        flex-direction: column;
        align-items: center;
        z-index: 10;
    }

    .header-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -120%;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        background-color: black;
        z-index: 10;
        transition: left 1s;
    }

    .header-flex .logo-header,
    .header-flex .price_button,
    .header-flex .personal-area {
        display: none;
    }


    .header-contact {
        position: relative;
        gap: 5px;
        top: 10%;
    }

    .active {
        left: 0;
    }

    .generalization {
        padding: 30px 0px;
    }

    .description {
        font-size: 11px;
        font-weight: 700;
    }

    

    .news_button {
        margin-top: 30px;
    }

    .button-club,
    .button-victory {
        width: 150px;
        height: 70px;
        font-size: 12px;
        font-weight: 600;
    }


    .button-all {
        margin: 0;
    }

    #button-style {
        margin-top: 0%;
    }
}