.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    position: relative;
    bottom: var(--swiper-pagination-bottom, 8px);
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
    margin-top: 20px;
}

.mySwiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}



.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: var(--swiper-navigation-top-offset, 50%);
    width: calc(var(--swiper-navigation-size) / 44* 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px -(var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    transition: all 0.3s ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: red;
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: rgb(255, 0, 0);
}


.content-news {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-news img {
    width: 90%;
    /* Устанавливаем ширину изображения */
    height: auto;
    border-radius: 5px;
    /* Сохраняем пропорции изображения */
}

.content-news p {
    width: 90%;
    /* Устанавливаем ширину текста */
    text-align: justify;
    /* Центрируем текст */
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: var(--swiper-navigation-top-offset, 40%);
    width: calc(var(--swiper-navigation-size) / 44* 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px -(var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    transition: all 0.3s ease;
}


@media(min-width:320px) and (max-width:1200px) {

    .container-news .swiper-button-prev,
    .swiper-button-next,
    .container-victory .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        top: var(--swiper-navigation-top-offset, 40%);
        width: calc(var(--swiper-navigation-size) / 100);
        height: var(--swiper-navigation-size);
        color: black;
        --swiper-navigation-size: 30px;
    }

    .content-news img {
        width: 80%;
        height: auto;
        border-radius: 5px;
    }

    .content-news p {
        width: 80%;
        text-align: justify;
    }
}