.online-store {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
}

.content-store {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-store img {
    width: 65%;
    position: relative;
    height: auto;
    border-radius: 5px;
    transition: all 0.3s ease;
}


.content-store p {
    background-color: white;
    border-radius: 5px;
    width: 65%;
    padding: 10px 0px;
    line-height: 30px;
    text-align: center;
    position: relative;
    bottom: 12px;


}


.swiper {
    width: 100%;
    height: 100%;
    margin: 50px 0px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.online-store .swiper-button-next,
.online-store .swiper-button-prev {
    color: white;
    --swiper-navigation-size: 30px;

}


.online-store .swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
    background: #fff;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}

.online-store .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: rgb(255, 255, 255);
}


@media(min-width:320px) and (max-width:1200px) {
    .content-store img {
        width: 50%;
        height: auto;
        border-radius: 5px;
    }
    
    .content-store p {
        background-color: white;
        border-radius: 5px;
        width: 50%;
        padding: 10px 0px;
        line-height: 30px;
        text-align: center;
        position: relative;
        bottom: 12px;
    }
    
}