:root {
    --primary-color: red;
    --active-color: black;
    --button-padding: 15px 20px;
    --button-margin: 10px 0;
    --button-border-radius: 5px;
    --button-font-weight: 500;
    --gap: 10px;
  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination {
    list-style-type: none;
    display: flex;
    gap: var(--gap);
    padding: 0;
    margin: 0;
  }
  
  .pagination .page-item button {
    padding: var(--button-padding);
    color: white;
    background: var(--primary-color);
    font-weight: var(--button-font-weight);
    border: none;
    border-radius: var(--button-border-radius);
    margin: var(--button-margin);
    cursor: pointer;
  }
  
  .pagination .page-item button.active {
    background: var(--active-color);
  }
  