.training {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-content: center;
    padding: 30px;
}

.subscription {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: white;
    width: auto;
    height: 250px;
    border-radius: 5px;
    padding: 30px;
    font-size: 20px;
    background: linear-gradient(130deg, #000000 30%, rgba(125, 186, 232, 0) 100%), url('../../img/black-red.png') top right, #121212;
}

#head-price {
    display: flex;
    justify-content: space-between;
}

#head-price h4 {
    background-color: rgba(192, 192, 192, 0.47);
    padding: 10px;
    border: 5px;
}

#month-price {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}