:root {
  --primary-color: #EE0007;
  --primary-color-hover: #e3070e;
  --background-color: #1a1a1a;
  --text-color: #fff;
  --input-background: #333;
  --input-border: rgba(105, 105, 105, 0.397);
  --input-color: rgba(255, 255, 255, 0.5);
  --input-color-focus: rgba(255, 255, 255, 1);
  --form-padding: 50px;
  --form-padding-mobile: 50px 30px;
  --form-width: 500px;
  --form-width-mobile: 100%;
  --form-title-size: 28px;
  --form-title-size-mobile: 24px;
  --input-padding: 15px 10px;
  --input-padding-mobile: 10px;
  --submit-padding: 15px 10px;
  --submit-padding-mobile: 10px;
}

#inner {
  display: flex;
  flex-direction: column;
}

.authorization-page {
  min-height: 100vh;
}

.form-authorization {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-registration {
  display: flex;
  justify-content: center;
  padding: 10% 0%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: var(--form-width);
  width: var(--form-width);
  height: auto;
  padding: var(--form-padding);
  border-radius: 5px;
  position: relative;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid #333;
  box-sizing: border-box;
}

.form-title {
  font-size: var(--form-title-size);
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: var(--primary-color);
}

.form-title::before {
  width: 18px;
  height: 18px;
}

.form-title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.form-title::before,
.form-title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: var(--primary-color);
}

.message,
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a {
  color: var(--primary-color);
}

form label {
  position: relative;
}

form label input {
  background-color: var(--input-background);
  color: var(--text-color);
  width: 100%;
  padding: var(--input-padding);
  outline: 0;
  border: 1px solid var(--input-border);
  border-radius: 5px;
  box-sizing: border-box;
}

form label #indentation {
  padding: var(--input-padding);
}

form label input+span {
  color: var(--input-color);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

form label input:placeholder-shown+span {
  top: 12.5px;
  font-size: 0.9em;
}

form label input:focus+span,
form label input:valid+span {
  color: var(--text-color);
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  padding: var(--submit-padding);
  border-radius: 5px;
  color: var(--text-color);
  font-size: 16px;
  transition: all 0.3s ease;
  background-color: var(--primary-color);
  text-align: center;
  width: 100%;
}

a:hover {
  color: var(--primary-color-hover);
}

.submit:hover {
  background-color: var(--primary-color-hover);
}

select {
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--input-background);
  color: var(--input-color);
  width: 100%;
  padding: var(--input-padding);
  outline: 0;
  border: 1px solid var(--input-border);
  border-radius: 5px;
}

select::placeholder {
  color: var(--input-color);
}

select:focus,
select:active {
  color: var(--input-color-focus);
}

option {
  background-color: var(--input-background);
  color: var(--input-color);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

@media(max-width:768px) {
  .content-registration {
    display: flex;
    justify-content: center;
    padding: 15% 0%;
  }

  form {
    width: var(--form-width-mobile);
    height: auto;
    padding: var(--form-padding-mobile);
  }

  .form-title {
    font-size: var(--form-title-size-mobile);
  }

  form label input {
    padding: var(--input-padding-mobile);
  }

  .submit {
    padding: var(--submit-padding-mobile);
  }
}
