#inner {
  display: flex;
  flex-direction: column;
}

.authorization-page {
  min-height: 100vh;
}

.form-authorization {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-registration {
  display: flex;
  justify-content: center;
  padding: 10% 0%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  width: 500px;
  height: auto;
  padding: 50px;
  border-radius: 5px;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
  box-sizing: border-box;
}

.form-title {
  font-size: 28px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #EE0007;
}

.form-title::before {
  width: 18px;
  height: 18px;
}

.form-title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.form-title::before,
.form-title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #EE0007;
}

.message,
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a {
  color: #EE0007;
}

form label {
  position: relative;
}

form label input {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 15px 10px 15px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 5px;
  box-sizing: border-box;
}

form label #indentation {
  padding: 15px 10px 15px 10px;
}

form label input+span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

form label input:placeholder-shown+span {
  top: 12.5px;
  font-size: 0.9em;
}

form label input:focus+span,
form label input:valid+span {
  color: #ffffff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  padding: 15px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  transition: all 0.3s ease;
  background-color: #EE0007;
  text-align: center;
  width: 100%;
}

a:hover {
  color: #e3070e;
}

.submit:hover {
  background-color: #c4080e;
}

select {
  appearance: none;
  -webkit-appearance: none;
  background-color: #333;
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
  padding: 15px 10px 15px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 5px;
}

select::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

select:focus,
select:active {
  color: rgb(255, 255, 255);
}

option {
  background-color: #333;
  color: rgba(255, 255, 255, 0.5);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

@media(max-width:768px) {
  .content-registration {
    display: flex;
    justify-content: center;
    padding: 15% 0%;
  }

  form {
    width: 100%;
    height: auto;
    padding: 50px 30px;
  }

  .form-title {
    font-size: 24px;
  }

  form label input {
    padding: 10px;
  }

  .submit {
    padding: 10px;
  }
}